@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans|Oxygen|Work+Sans|Raleway');

/* CSS Document */

@media screen and (min-width: 480px) {
	body {
		background-color: #cecfff;
		overflow: auto;
		font-family: 'Work Sans', sans-serif;
		color: #163c69;
		font-size: 2.35vmin;
	}
	.carouseltext {
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 2.6vmin;
	}
	.tableheader {
		font-family: 'Julius Sans One', sans-serif;
		font-weight: bold;
		width: 100%;
		color: #3c3f42;
		text-align: left;
		font-size: 5vmin;
		text-shadow: 0.5px 0.5px #b0b1b2;
		padding-left: 10px;
		padding-right: 10px;
	}
	.tablecontent {
		font-family: 'Work Sans', sans-serif;
		font-weight: lighter;
		width: 100%;
		color: gray;
		text-align: left;
		font-size: 1.5vmax;
		padding: 10px;
	}
	div#headerlabel {
		font-family: 'Julius Sans One', sans-serif;
		font-weight: bold;
		float: left;
		width: 100%;
		color: black;
		text-align: center;
		font-size: 9.5vmin;
		text-shadow: 1px 1px #b0b1b2;
	}
	.contenttxt {
		font-family: 'Work Sans', sans-serif;
		float: left;
		width: 100%;
		color: black;
		text-align: left;
		font-size: 2.75vmin;
		color: #424447;
	}
	div#wrapper {
		width: 80vw;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		overflow: hidden;
	}
	div#header {
		padding-top: 2.35vmin;
		padding-bottom: 0.8vmin;
		width: 100%;
	}
	div#slider {
		width: 100%;
		float: left;
		padding-top: 10px;
	}
	div#footer {
		background-color: #163c69;
		float: left;
		width: 100%;
		color: white;
		text-align: center;
	}
	#nav {
		text-align: center;
		background-color: #163c69;
		line-height: 30px;
		font-family: Arial, Helvetica, sans-serif;
		white-space: nowrap;
		z-index: 0.9;
	}
	#nav ul {
		font-size: 15px;
		margin: 0;
		padding: 0;
		text-align: center;
		display: block;
	}
	#nav li {
		display: inline-block;
		list-style: none;
	}
	#nav a:link,
	a:visited {
		display: inline-block;
		margin-right: -4px;
		width: 126px;
		font-weight: bold;
		color: #FFFFFF;
		background-color: #163c69;
		text-align: center;
		padding: 4px;
		text-decoration: none;
		text-transform: uppercase;
	}
	#nav a:hover,
	a:active {
		color: #163c69;
		background-color: white;
	}
	#donatesidebar {
		width: 30%;
		float: right;
		text-align: center;
		background-color: #e8e8e8;
		height: auto;
	}
	#body a:link {
		color: #163c69;
	}
	#body a:visited {
		color: #163c69;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 10vh;
		right: 2vw;
		z-index: 99;
		border: none;
		outline: none;
		cursor: pointer;
		border-radius: 50%;
		height: 12vmin;
		width: 12vmin;
		background-size: 100%;
		background-image: url(/images/backToTop.png);
	}
	#myBtn:hover {
		background-size: 100%;
		background-image: url(/images/backToTopHover.png);
	}
	.snsButton {
		position: fixed;
		right: 5vmin;
		max-width: 9vmin;
		max-height: 9vmin;
	}
	li a,
	.dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 2.35vmin 2.5vmin;
		text-decoration: none;
	}
	li a:hover,
	.dropdown:hover .dropbtn {
		background-color: #d6d7d8;
	}
	li.dropdown {
		display: inline-block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-content a:hover {
		background-color: #f1f1f1
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}

	.box {
		border-radius: 10px;
		transition: box-shadow .5s;
		float: left;
		margin: 9px;
	}
	.box:hover {
		box-shadow: 4px 4px 8px #adadad;
	}
}
